html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: PingFangSC-Regular, PingFangSC-Medium, PingFang SC, Avenir, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

section:focus,
button:focus,
input:focus {
  outline: none;
}

textarea,
input {
  border: none;
  padding: 0;
}

.app {
  padding-top: 45px;
  background-color: #f9f9f9;
}